
<div class="container">


<div class="mainbox">

<div class="box myBackground">
  <h4>BOX 1</h4>
  <p>jhvybv uhvuhvnfv jvuvn buthgurbhvhfnjbncjsbvfjkkdfjcbnjhsdbc njhsdcsdcfvf bvubvhufbvhufn</p>

</div>
<div class="box myBackground">
  <h4>BOX 2</h4>
  <p>jhvybv uhvuhvnfv jvuvn buthgurbhvhfn vjnfjf fjdvnfvnfvdfvhnc   jbvjhvn j bfjbnsjdbvubvhufbvhufn</p>

</div>
<div class="box myBackground">
  <h4>BOX 3</h4>
  <p>jhvybv uhvuhvnfv jvuvn butvjnfjfvfvnfjvn n jfbvfj nf vfhbvfjn vbfjbvhfbvfbaejhgurbhvhfn bvubvhufbvhufn</p>

</div>


</div>
</div>