<div class="container">

  <div class="row">

    <div class="col-md-12">


      <form [formGroup]="signUpForm"  (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
        <div class="form-group">

          <label for="username">User name</label>
          <input id="username" type="text" class="form-control" formControlName="username">

         <!--  <span *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched"  class="help-block">Please Enter a valid user name</span> -->
         <span *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched" 
          class="help-block">
          <!--   Please Enter a valid user name -->
          <span *ngIf="signUpForm.get('userData.username').errors['required']">Please Enter an username</span>
          <span *ngIf="signUpForm.get('userData.username').errors['forbiddenUsernamr']">Please Enter a valid username</span>
        </span>
        </div>

        <div class="form-group">

          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
         <!--  <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"  class="help-block">Please Enter a valid email address</span> -->
         <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched"  class="help-block">Please Enter a valid email address</span>
        </div>
      </div>
        <div class="radio">
          <label *ngFor="let gender of genders">
            <input type="radio" [value]="gender" formControlName="gender">

            {{gender}}
          </label>
        </div>

        <div formArrayName="hobbies"> 
          <h4>Your Hobbies</h4>
          <button class="btn btn-default"(click)="addHobby()" type="button">Add Hobby</button>
          <div *ngFor="let hobby of signUpForm.get('hobbies').controls; let i = index" class="form-group">
          <input type="text" [formControlName]="i" class="form-control">
        </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>


        <span *ngIf="!signUpForm.valid && signUpForm.touched"  class="help-block">Please Enter a valid Data</span>

      </form>


      <button type="button" class="btn btn-primary"(click)="checkSetValue()">Set Values</button>
      <button type="button" class="btn btn-primary"(click)="checkPatchValue()">Patch Values</button>
      <button type="button" class="btn btn-primary"(click)="resetForm()">Reset</button>



    </div>





  </div>








</div>